<div class="welcome-main-sceen">
    <div class="content-div">
        <label [ngClass]="active1? 'lbl lbl2 blink': 'lbl lbl2'">{{renderedText}}</label>
        <br>
        <label [ngClass]="active2? 'lbl lbl2 blink': 'lbl lbl2'">{{renderedText2}}</label>
        <br>
        <label [ngClass]="active3? 'lbl warn mt lbl2 blink': 'lbl mt warn lbl2'">{{renderedText3}}</label>
        <br>
        <label [ngClass]="active4? 'lbl green lbl2 blink': 'lbl green lbl2'">{{renderedText4}}</label>

        <br>
        <label [ngClass]="active5? 'lbl mt lbl2 blink': 'lbl mt lbl2'">{{renderedText5}}</label>
    </div>
</div>