<div class={{data.class}}>
    <img class="other-icon" src={{data.profile}} alt={{data.title}} />
    <span class="title">{{data.title}}</span>
    <span class="date">{{data.period}}</span>
    <div class="techstack-div td">
        <img class="t-icon" src="../.././../assets/images/html-240.png" alt="html" />
        <img class="t-icon" src="../.././../assets/images/css-240.png" alt="css" />
        <img class="t-icon" src="../.././../assets/images/js-240.png" alt="js" />
        <img class="t-icon" src="../.././../assets/images/react-240.png" alt="react-240" />
    </div>

    <div class="links">
        <div class="o-icons-div">
            <a href={{data.weblink}} target="_blank">
                <span class="material-symbols-outlined">
                    public
                </span>
            </a>
        </div>
        <div class="o-icons-div">
            <a href={{data.cert}} target="_blank">
                <span class="material-symbols-outlined">
                    badge
                </span>
            </a>
        </div>

    </div>
</div>